body {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6acd8;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #f6d4e4;
    border: 5px solid #a590cf;
    border-radius: 10px;
    width: 400px;
    height: 200px;
}

.text {
    display: flex;
    flex: 1;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.next {
    display: flex;
    flex: 0;
    justify-content: center;
    border: 0 solid #a590cf;
    background-color: #f6d4e4;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    align-self: center;
    text-align: center;
    border-radius: 3px;
    margin: 5px 0;
}

.letter {
    width: 100px;
    height: 100px;
    background-color: red;
}