body {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6acd8;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #f6d4e4;
    border: 5px solid #a590cf;
    border-radius: 10px;
    width: 400px;
    height: 200px;
}

.text {
    display: flex;
    flex: 1;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.next {
    display: flex;
    flex: 0;
    justify-content: center;
    border: 0 solid #a590cf;
    background-color: #f6d4e4;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    align-self: center;
    text-align: center;
    border-radius: 3px;
    margin: 5px 0;
}

.letter {
    width: 600px;
    height: 200px;
    background: linear-gradient(#ae77c9,#d292d6,#f9bad5,#f277a2,#d95096,#b5478c);
    font-family: 'Dancing Script', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0.5em 0.5em black;
    text-align: center;
}

.valentine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 60px;
    font-weight: 700;
}

.letter h1 {
    margin: 0;
}

span {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}